<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="text-bg-light p-3 ">
    <nav class="navbar bg-light " >
        <h4 class="fs-6 position-absolute top-2 start-0">Hi <%=firstname%> <%=lastname%></h4> 
        <div class="container-fluid d-flex justify-content-center mx-2 my-4 p-3"> 
            <form class="d-flex mx-auto" role="search" action="/carwash/search/<%=userid%>" method="Post">
                <input class="form-control me-2" type="search" placeholder="Search" name="sol" aria-label="Search">
                <button class="btn btn-outline-success">Search</button>
            </form>
        </div>
        <form class="position-absolute top-2 end-0" method="post" action="/user_logout">
            <button class="btn btn-light">LOG OUT</button>
        </form>
    </nav>
    <div class="d-flex justify-content-center mx-2 my-4 p-3">
        <% if(search !=""){%>
            <% let len =search.length%> 
            <% places.forEach(function(place){ %>
                <% if(place.substring(0,len)===search){ %> 
                    <div class=" border border-2 border-end d-grid gap-3 container text-center" style="width:200px ;">    
                        <h3 class="text-center"><%= place %></h3>
                        <button class="col-6 mx-5 btn btn-outline-secondary btn-sm "  onclick="window.location.href = 'http://localhost:8080/carwash/<%=userid%>/<%=place%>';">Book now</button>
                    </div>
                <% } %>         
            <%  }); %>
        <% } %> 
    </div>
    <div class="d-flex justify-content-center mx-2 my-4 p-4">
        <% if(search ===""){%>
            <% let len =search.length%>
            <% places.forEach(function(place){ %>    
                <div class="border border-2 border-end d-grid gap-3 container text-center" style="width:200px ;">    
                    <h3 class="text-center"><%= place %></h3>
                    <button  class="col-6 mx-5 btn btn-outline-secondary btn-sm" onclick="window.location.href = 'http://localhost:8080/carwash/<%=userid%>/place/<%=place%>';">Book now</button>
                </div>
            <%  }); %>
        <% } %> 
    </div>  
</body>
</html>
